include *.txt
include *.md
include *.pkl
recursive-include ./model/*

include model/datasets/Data.xlsx
include model/datasets/Archivo_para_tabler.csv
include model/datasets/Set_test.csv
include model/trained/*.pkl
include model/VERSION
include model/config.yml

include ./requirements/requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]